baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Jasmal Jithu'
theme = "Blogpaper"

[[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  name = "Blog"
  url = "/posts/"
  weight = 2

[[menu.main]]
  name = "Projects"
  url = "/projects/"
  weight = 3

[params]
  navHome = "Jasmal Jithu"